<div class="container">
  <h1>Person detail</h1>

  <form novalidate="novalidate" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputName">Name:</label>

      <div class="controls">
        <input type="text" id="inputName" ng-model="user.name"/>
      </div>
    </div>
    <br />
    <div class="control-group">
      <div class="controls">
        <a ng-click="cancel()" class="btn btn-small">cancel</a>
        <a ng-click="updatePerson()" class="btn btn-small btn-primary">update person</a>
      </div>
    </div>
  </form>
</div>